*.pprof
immich-go.test
immich-go
.vscode/launch.json
.vscode/settings.json
immich-go

!readme.md

dist/
*.txt
*.log
poc/
__debug_*.*
*.exe
archive.tar
*.out
*.test
.env
*.env
test-config.yaml
__debug_*

# macOS system files
.DS_Store

# API monitoring temporary files
.github/immich-api-monitor/temp-specs.json
immich-go.yaml

# e2e test
internal/e2eTests/resetImmich/resetImmich
internal/e2eTests.zip
